---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/people/2669139/phone_numbers?offset=0&order=created_at&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6381c30e17532314db41bcf1499bb88a17551470abe22671b5fc839e0af53269
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '2'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.3
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"dc05bbb4cb50891feed78684bb9da34d"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people/2669139/phone_numbers?offset=0&order=created_at&per_page=100"},"data":[{"type":"PhoneNumber","id":"60503519","attributes":{"carrier":null,"created_at":"2020-09-30T19:45:44Z","location":"Mobile","number":"(520)
        820-6614","primary":true,"updated_at":"2020-09-30T19:45:44Z"},"relationships":{"person":{"data":{"type":"Person","id":"2669139"}}},"links":{"self":"https://api.planningcenteronline.com/people/v2/people/2669139/phone_numbers/60503519"}}],"included":[],"meta":{"total_count":1,"count":1,"can_order_by":["number","carrier","location","primary","created_at","updated_at"],"can_query_by":["number","carrier","location","primary","created_at","updated_at"],"parent":{"id":"2669139","type":"Person"}}}'
  recorded_at: Thu, 27 May 2021 19:11:09 GMT
recorded_with: VCR 6.0.0
