---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/households/2168776?offset=0&per_page=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '25'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2022-01-28'
      etag:
      - W/"cfdf9d95ca74d2316eccbb1842660fe5"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Household","id":"2168776","attributes":{"avatar":"https://dio0bc3q0omo2.cloudfront.net/776-square.png","created_at":"2016-08-29T21:36:02Z","member_count":3,"name":"Reich
        Household","primary_contact_id":"6483379","primary_contact_name":"Brandon
        Reich","updated_at":"2016-08-29T21:36:02Z"},"relationships":{"primary_contact":{"data":{"type":"Person","id":"6483379"}},"people":{"data":[{"type":"Person","id":"5400507"},{"type":"Person","id":"6483379"},{"type":"Person","id":"94457696"}]}},"links":{"household_memberships":"https://api.planningcenteronline.com/people/v2/households/2168776/household_memberships","people":"https://api.planningcenteronline.com/people/v2/households/2168776/people","self":"https://api.planningcenteronline.com/people/v2/households/2168776"}},"included":[],"meta":{"can_include":["people"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Fri, 08 Apr 2022 18:48:55 GMT
recorded_with: VCR 6.0.0
