---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/households/2168776?offset=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6381c30e17532314db41bcf1499bb88a17551470abe22671b5fc839e0af53269
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '4'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.3
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"3cc4826a69414894e28a0765b5d7ecdc"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Household","id":"2168776","attributes":{"avatar":"https://dio0bc3q0omo2.cloudfront.net/776-square.png","created_at":"2016-08-29T21:36:02Z","member_count":2,"name":"Reich
        Household","primary_contact_id":"6483379","primary_contact_name":"Brandon
        Reich","updated_at":"2016-08-29T21:36:02Z"},"relationships":{"primary_contact":{"data":{"type":"Person","id":"6483379"}},"people":{"data":[{"type":"Person","id":"5400507"},{"type":"Person","id":"6483379"}]}},"links":{"household_memberships":"https://api.planningcenteronline.com/people/v2/households/2168776/household_memberships","people":"https://api.planningcenteronline.com/people/v2/households/2168776/people","self":"https://api.planningcenteronline.com/people/v2/households/2168776"}},"included":[],"meta":{"can_include":["people"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Thu, 27 May 2021 19:02:34 GMT
recorded_with: VCR 6.0.0
