---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/giving/v2/funds/131737?offset=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c5877e58c0bd9e15b6e451229d6eb6a183a0f15ff7cda3f78ebec41c4a7d4e4f
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '11'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.2.1
      x-pco-api-processed-as-version:
      - '2019-10-18'
      etag:
      - W/"014f92bb03b8fa826542a786be1d3d88"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Fund","id":"131737","attributes":{"color":"#cfab77","created_at":"2020-02-10T21:06:54Z","default":false,"deletable":false,"description":null,"ledger_code":null,"name":"Acceleration
        Fund","updated_at":"2020-02-10T21:06:54Z","visibility":"everywhere"},"links":{"self":"https://api.planningcenteronline.com/giving/v2/funds/131737"}},"included":[],"meta":{"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Thu, 13 May 2021 20:37:52 GMT
recorded_with: VCR 6.0.0
