---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/campuses/44710?offset=0&per_page=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '7'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2022-01-28'
      etag:
      - W/"895f8e95fe6e7002796c5bae24a32e8a"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Campus","id":"44710","attributes":{"avatar_url":null,"church_center_enabled":true,"city":"Austin","contact_email_address":"info@thewellaustin.com","country":"US","created_at":"2020-03-19T17:59:11Z","date_format":null,"description":"<div>Thank
        you for joining us today whether that''s in-person or online! We''d hope you
        feel at home with us and get further connected with us as we''d love to connect
        with you more!<br><br><br><br>\n</div>","geolocation_set_manually":false,"latitude":"30.3761111","longitude":"-97.7552778","name":"Westover
        Campus","phone_number":"5128277784","state":"Texas","street":"Meeting at Westover
        Hills Church of Christ -- 8332 Mesa Dr.","time_zone":"America/Chicago","twenty_four_hour_time":null,"updated_at":"2022-03-25T02:54:04Z","website":"https://www.thewellaustin.com/","zip":"78759"},"relationships":{"organization":{"data":{"type":"Organization","id":"86977"}}},"links":{"lists":"https://api.planningcenteronline.com/people/v2/campuses/44710/lists","service_times":"https://api.planningcenteronline.com/people/v2/campuses/44710/service_times","self":"https://api.planningcenteronline.com/people/v2/campuses/44710"}},"included":[],"meta":{"can_include":["lists","service_times"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Fri, 08 Apr 2022 18:48:41 GMT
recorded_with: VCR 6.0.0
