---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/name_suffixes/296925?offset=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6381c30e17532314db41bcf1499bb88a17551470abe22671b5fc839e0af53269
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '4'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.3
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"621dd5cd1cc7065df197f43dcbc852fd"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"NameSuffix","id":"296925","attributes":{"value":"Jr."},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/296925"}},"included":[],"meta":{"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Thu, 27 May 2021 19:09:19 GMT
recorded_with: VCR 6.0.0
