---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/groups/v2/group_types?offset=0&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c02980f27bfdb5ae0804adabe9d5d245f00a37beb29f90f8e31686335fb91e8e
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '2'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_6.3.4
      x-pco-api-processed-as-version:
      - '2018-08-01'
      etag:
      - W/"0b69f8bbffb06d608d2af32e16633787"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/groups/v2/group_types?offset=0&per_page=3"},"data":[{"type":"GroupType","id":"120399","attributes":{"church_center_map_visible":true,"church_center_visible":true,"color":"#4fd2e3","default_group_settings":{"contact_email":"smallgroups@samplechurch.com"},"description":"Small
        groups are a key aspect of our church community.           Most meet weekly
        in the home of a group member (usually the leader''s home).           We try
        to keep them limited to about 12 people.           If you can''t find an open
        group, please let us know!","name":"Small Groups","position":1},"links":{"self":"https://api.planningcenteronline.com/groups/v2/group_types/120399"}},{"type":"GroupType","id":"120400","attributes":{"church_center_map_visible":true,"church_center_visible":true,"color":"#e57198","default_group_settings":{"schedule":"Every
        Sunday at 9:30am","contact_email":"classes@samplechurch.com","description":"This
        class is held weekly, during the first service hour on Sundays. Meet in the
        church lobby to find a listing of all the classes and where they''re meeting
        each week. If the group is closed it means we''re full this season, but don''t
        worry – this class starts up again every 3 months.","location_id":385109},"description":"Our
        church hosts a number of classes that meet here on campus.           Come
        join us as we learn and grow together! Some classes also provide childcare
        –           be sure to check the class details.","name":"Seasonal Classes","position":2},"links":{"self":"https://api.planningcenteronline.com/groups/v2/group_types/120400"}},{"type":"GroupType","id":"unique","attributes":{"church_center_map_visible":true,"church_center_visible":false,"color":"#c6c6c6","default_group_settings":{"schedule":null,"location_id":null,"virtual_location_url":null,"location_type_preference":"physical","enrollment_open_until":null,"enrollment_limit":null,"member_limit_maximum_alert":null,"request_event_attendance_from_leaders":true,"contact_email":null,"events_visibility":"public","description":null,"leaders_can_search_people_database":false,"publicly_display_meeting_schedule":false,"default_event_automated_reminders_enabled":false,"default_event_automated_reminders_schedule_offset":null,"communication_enabled":false,"members_can_create_forum_topics":true,"attendance_reply_to_person_id":null,"leader_name_visible_on_public_page":false},"description":null,"name":"Unique
        Groups","position":999999999},"links":{"self":"https://api.planningcenteronline.com/groups/v2/group_types/unique"}}],"included":[],"meta":{"total_count":3,"count":3,"can_order_by":["position","name"],"can_query_by":["id"],"can_filter":["church_center_visible","not_church_center_visible"],"parent":{"id":"291419","type":"Organization"}}}'
  recorded_at: Thu, 18 Apr 2024 20:49:48 GMT
recorded_with: VCR 6.0.0
