---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/emails/2515990?offset=0&per_page=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '4'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2022-01-28'
      etag:
      - W/"d7ac2db7a10b11e2b1539ea614ee27b0"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Email","id":"2515990","attributes":{"address":"tmayo@thewellaustin.com","blocked":false,"created_at":"2012-09-11T23:44:13Z","location":"Home","primary":true,"updated_at":"2012-09-11T23:44:13Z"},"relationships":{"person":{"data":{"type":"Person","id":"2446996"}}},"links":{"person":"https://api.planningcenteronline.com/people/v2/people/2446996","self":"https://api.planningcenteronline.com/people/v2/emails/2515990"}},"included":[],"meta":{"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Fri, 08 Apr 2022 18:59:00 GMT
recorded_with: VCR 6.0.0
