---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/giving/v2/recurring_donations?offset=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 26fcff069aa11d2f40ec48876948fce30e322e027a25706ec9e114ee874101c8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '26'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.2.1
      x-pco-api-processed-as-version:
      - '2019-10-18'
      etag:
      - W/"b57e4525c188e0369a02518968c6d869"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/giving/v2/recurring_donations?offset=0&per_page=100","next":"https://api.planningcenteronline.com/giving/v2/recurring_donations?offset=100&per_page=100"},"data":[{"type":"RecurringDonation","id":"351304","attributes":{"amount_cents":2075,"amount_currency":"USD","created_at":"2020-01-19T17:45:57Z","last_donation_received_at":"2021-05-09T12:29:35Z","next_occurrence":"2021-05-16T05:00:00Z","release_hold_at":null,"schedule":{"weekday":{"weekday":0}},"status":"active","updated_at":"2021-05-09T12:29:38Z"},"links":{"self":"https://api.planningcenteronline.com/giving/v2/recurring_donations/351304"}},{"type":"RecurringDonation","id":"356015","attributes":{"amount_cents":7500,"amount_currency":"USD","created_at":"2020-01-26T21:55:58Z","last_donation_received_at":"2020-08-01T13:38:34Z","next_occurrence":"2021-06-01T05:00:00Z","release_hold_at":null,"schedule":{"day_in_month":{"day":1}},"status":"active","updated_at":"2021-05-01T13:56:50Z"},"links":{"self":"https://api.planningcenteronline.com/giving/v2/recurring_donations/356015"}},{"type":"RecurringDonation","id":"356706","attributes":{"amount_cents":5000,"amount_currency":"USD","created_at":"2020-01-27T15:24:48Z","last_donation_received_at":"2021-05-01T13:57:08Z","next_occurrence":"2021-06-01T05:00:00Z","release_hold_at":"2020-02-29T06:00:00Z","schedule":{"day_in_month":{"day":1}},"status":"active","updated_at":"2021-05-[...]
