---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/giving/v2/recurring_donations?offset=0&per_page=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '24'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2019-10-18'
      etag:
      - W/"d8c821b9395e0223bda7e97a7e7707c6"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/giving/v2/recurring_donations?offset=0&per_page=100","next":"https://api.planningcenteronline.com/giving/v2/recurring_donations?offset=100&per_page=100"},"data":[{"type":"RecurringDonation","id":"351304","attributes":{"amount_cents":2075,"amount_currency":"USD","created_at":"2020-01-19T17:45:57Z","last_donation_received_at":"2022-04-03T11:21:04Z","next_occurrence":"2022-04-10T05:00:00Z","release_hold_at":null,"schedule":{"weekday":{"weekday":0}},"status":"active","updated_at":"2022-04-03T11:21:07Z"},"relationships":{"person":{"data":{"type":"Person","id":"60469991"}}},"links":{"self":"https://api.planningcenteronline.com/giving/v2/recurring_donations/351304"}},{"type":"RecurringDonation","id":"356015","attributes":{"amount_cents":7500,"amount_currency":"USD","created_at":"2020-01-26T21:55:58Z","last_donation_received_at":"2020-08-01T13:38:34Z","next_occurrence":"2022-05-01T05:00:00Z","release_hold_at":null,"schedule":{"day_in_month":{"day":1}},"status":"active","updated_at":"2022-04-01T11:27:51Z"},"relationships":{"person":{"data":{"type":"Person","id":"72143400"}}},"links":{"self":"https://api.planningcenteronline.com/giving/v2/recurring_donations/356015"}},{"type":"RecurringDonation","id":"356706","attributes":{"amount_cents":5000,"amount_currency":"USD","created_at":"2020-01-27T15:24:48Z","last_donation_received_at":"2021-05-01T13:57:08Z","next_occurrence":"2022-05-01T05:00:00Z","release_hold_at":"2020-02-29T06:00:00Z","schedul[...]
