---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/webhooks/v2/subscriptions?offset=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c02980f27bfdb5ae0804adabe9d5d245f00a37beb29f90f8e31686335fb91e8e
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '11'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_6.3.4
      x-pco-api-processed-as-version:
      - '2018-08-01'
      etag:
      - W/"79eab9585c738f03597bd4b03335e1a4"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/webhooks/v2/subscriptions?offset=0&per_page=100"},"data":[{"type":"Subscription","id":"149836","attributes":{"active":true,"application_id":978,"authenticity_secret":"0e3d0511f3ff9c324df7008a58856fb34af3ca74cea4638128101254ae315c13","created_at":"2024-04-17T17:59:45Z","name":"people.v2.events.address.destroyed","updated_at":"2024-04-17T17:59:45Z","url":"https://app.mortarstone.com/hooks/companies/4/planning_center/events"},"links":{"self":"https://api.planningcenteronline.com/webhooks/v2/subscriptions/149836"}},{"type":"Subscription","id":"149837","attributes":{"active":true,"application_id":978,"authenticity_secret":"5df6b82dd01cd933537109ffa4e270d0a0134e499c5a79b311c55619bcd399cc","created_at":"2024-04-17T17:59:45Z","name":"people.v2.events.address.updated","updated_at":"2024-04-17T17:59:45Z","url":"https://app.mortarstone.com/hooks/companie[...]
