---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/campuses?offset=0&order=created_at&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 26fcff069aa11d2f40ec48876948fce30e322e027a25706ec9e114ee874101c8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '3'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.2.1
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"6c0868efbd5e5e196748f124986aa087"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/campuses?offset=0&order=created_at&per_page=100"},"data":[{"type":"Campus","id":"44710","attributes":{"avatar_url":null,"church_center_enabled":true,"city":"Austin","contact_email_address":"info@thewellaustin.com","country":"US","created_at":"2020-03-19T17:59:11Z","date_format":null,"description":"<div>Thank
        you for joining us today whether that''s in-person or virtually! <br><br>For
        sermon notes and scripture links, navigate to the \"Events\" button in the
        bottom menu.<strong><br></strong><br><br><br>\n</div>","geolocation_set_manually":false,"latitude":"30.3761111","longitude":"-97.7552778","name":"Westover
        Campus","phone_number":null,"state":"Texas","street":"Meeting at Westover
        Hills Church of Christ -- 8332 Mesa Dr.","time_zone":"America/Chicago","twenty_four_hour_time":null,"updated_at":"2021-03-26T16:00:23Z","website":"https://www.thewellaustin.com/","zip":"78759"},"relationships":{"organization":{"data":{"type":"Organization","id":"86977"}}},"links":{"self":"https://api.planningcenteronline.com/people/v2/campuses/44710"}}],"included":[],"meta":{"total_count":1,"count":1,"can_order_by":["name","created_at","updated_at"],"can_query_by":["created_at","updated_at"],"can_include":["lists"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Fri, 14 May 2021 14:15:22 GMT
recorded_with: VCR 6.0.0
