---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/giving/v2/donations/53134447/refund?offset=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 26fcff069aa11d2f40ec48876948fce30e322e027a25706ec9e114ee874101c8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '28'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.2.1
      x-pco-api-processed-as-version:
      - '2019-10-18'
      etag:
      - W/"cff64fc7d22044b15d95fb63c9d9382a"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Refund","id":"27505","attributes":{"amount_cents":-2000,"amount_currency":"USD","created_at":"2020-04-05T17:49:09Z","fee_cents":0,"fee_currency":"USD","refunded_at":"2020-04-05T17:49:09Z","updated_at":"2020-04-08T01:04:20Z"},"links":{"designation_refunds":"https://api.planningcenteronline.com/giving/v2/donations/53134447/refund/27505/designation_refunds","self":"https://api.planningcenteronline.com/giving/v2/donations/53134447/refund/27505"}},"included":[],"meta":{"parent":{"id":"53134447","type":"Donation"}}}'
  recorded_at: Fri, 14 May 2021 14:15:30 GMT
recorded_with: VCR 6.0.0
