---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/giving/v2/donations/53134447/refund?offset=0&per_page=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '2'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2019-10-18'
      etag:
      - W/"9423e4f8e9fec0345495363e18f5bd65"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Refund","id":"27505","attributes":{"amount_cents":-2000,"amount_currency":"USD","created_at":"2020-04-05T17:49:09Z","fee_cents":0,"fee_currency":"USD","refunded_at":"2020-04-05T17:49:09Z","updated_at":"2020-04-08T01:04:20Z"},"links":{"designation_refunds":"https://api.planningcenteronline.com/giving/v2/donations/53134447/refund/designation_refunds","self":"https://api.planningcenteronline.com/giving/v2/donations/53134447/refund/27505"}},"included":[],"meta":{"can_include":["designation_refunds"],"parent":{"id":"53134447","type":"Donation"}}}'
  recorded_at: Fri, 08 Apr 2022 18:49:18 GMT
recorded_with: VCR 6.0.0
