---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/addresses/30896373?offset=0&per_page=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '4'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2022-01-28'
      etag:
      - W/"494e6f708550042853b828a7bc4d00a9"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Address","id":"30896373","attributes":{"city":"Austin","created_at":"2018-05-20T16:22:42Z","location":"Home","primary":true,"state":"TX","street":"5515
        Roosevelt Ave","updated_at":"2018-05-20T16:22:42Z","zip":"78756"},"relationships":{"person":{"data":{"type":"Person","id":"37510891"}}},"links":{"self":"https://api.planningcenteronline.com/people/v2/addresses/30896373"}},"included":[],"meta":{"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Fri, 08 Apr 2022 18:48:39 GMT
recorded_with: VCR 6.0.0
