---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/addresses/30896373?offset=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6381c30e17532314db41bcf1499bb88a17551470abe22671b5fc839e0af53269
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '1'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.3
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"494e6f708550042853b828a7bc4d00a9"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Address","id":"30896373","attributes":{"city":"Austin","created_at":"2018-05-20T16:22:42Z","location":"Home","primary":true,"state":"TX","street":"5515
        Roosevelt Ave","updated_at":"2018-05-20T16:22:42Z","zip":"78756"},"relationships":{"person":{"data":{"type":"Person","id":"37510891"}}},"links":{"self":"https://api.planningcenteronline.com/people/v2/addresses/30896373"}},"included":[],"meta":{"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Thu, 27 May 2021 18:59:02 GMT
recorded_with: VCR 6.0.0
