---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/giving/v2/recurring_donations/358916/designations?offset=0&per_page=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '21'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2019-10-18'
      etag:
      - W/"36a3a6a9659af938027c5e523acaa5c4"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/giving/v2/recurring_donations/358916/designations?offset=0&per_page=100"},"data":[{"type":"RecurringDonationDesignation","id":"383099","attributes":{"amount_cents":2075,"amount_currency":"USD"},"links":{"self":"https://api.planningcenteronline.com/giving/v2/recurring_donations/358916/designations/383099"}}],"included":[],"meta":{"total_count":1,"count":1,"can_include":["fund"],"parent":{"id":"358916","type":"RecurringDonation"}}}'
  recorded_at: Fri, 08 Apr 2022 18:49:13 GMT
recorded_with: VCR 6.0.0
