---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/marital_statuses?offset=0&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6381c30e17532314db41bcf1499bb88a17551470abe22671b5fc839e0af53269
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '3'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.3
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"bdf03ce094f3b42f671ffb0602023a24"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/marital_statuses?offset=0&per_page=25"},"data":[{"type":"MaritalStatus","id":"296941","attributes":{"value":"Single"},"links":{"self":"https://api.planningcenteronline.com/people/v2/marital_statuses/296941"}},{"type":"MaritalStatus","id":"296943","attributes":{"value":"Married"},"links":{"self":"https://api.planningcenteronline.com/people/v2/marital_statuses/296943"}},{"type":"MaritalStatus","id":"296945","attributes":{"value":"Widowed"},"links":{"self":"https://api.planningcenteronline.com/people/v2/marital_statuses/296945"}}],"included":[],"meta":{"total_count":3,"count":3,"can_order_by":["value"],"can_query_by":["value"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Thu, 27 May 2021 19:08:16 GMT
recorded_with: VCR 6.0.0
