---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/marital_statuses?offset=0&per_page=25
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '5'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2022-01-28'
      etag:
      - W/"f87fe8a5441f311f30a34a940dc61e11"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/marital_statuses?&offset=0&per_page=25"},"data":[{"type":"MaritalStatus","id":"296941","attributes":{"value":"Single"},"links":{"self":"https://api.planningcenteronline.com/people/v2/marital_statuses/296941"}},{"type":"MaritalStatus","id":"296943","attributes":{"value":"Married"},"links":{"self":"https://api.planningcenteronline.com/people/v2/marital_statuses/296943"}},{"type":"MaritalStatus","id":"296945","attributes":{"value":"Widowed"},"links":{"self":"https://api.planningcenteronline.com/people/v2/marital_statuses/296945"}}],"included":[],"meta":{"total_count":3,"count":3,"can_order_by":["value"],"can_query_by":["value"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Fri, 08 Apr 2022 18:49:01 GMT
recorded_with: VCR 6.0.0
