---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/groups/v2/groups?offset=0&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c02980f27bfdb5ae0804adabe9d5d245f00a37beb29f90f8e31686335fb91e8e
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '6'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_6.3.4
      x-pco-api-processed-as-version:
      - '2018-08-01'
      etag:
      - W/"1e22e0d21fddbf84df38ebfffdeffd6b"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/groups/v2/groups?offset=0&per_page=5","next":"https://api.planningcenteronline.com/groups/v2/groups?offset=5&per_page=5"},"data":[{"type":"Group","id":"779944","attributes":{"archived_at":null,"contact_email":"smallgroups@samplechurch.com","created_at":"2019-06-11T18:31:44Z","description":"We''re
        a family-friendly group that meets most Tuesday nights. If you have           kids,
        bring them along! Childcare is provided at our meetings (please chip in $5
        per child).           We start at 7pm and go until 8:30pm.","enrollment_open":true,"enrollment_strategy":"request_to_join","events_visibility":"public","header_image":{"thumbnail":"https://groups-production.s3.amazonaws.com/uploads/group/header_image/defaults/thumbnail_4.png","medium":"https://groups-production.s3.amazonaws.com/uploads/group/header_image/defaults/medium_4.png","original":"https://groups-production.s3.amazonaws.com/uploads/group/header_image/defaults/4.png"},"location_type_preference":"physical","memberships_count":0,"name":"Johnson
        Family Small Group","public_church_center_web_url":"https://mortarstone.churchcenter.com/groups/small-groups/johnson-family-small-group","schedule":"Every
        Tuesday night during the summer.","virtual_location_url":null},"relationships":{"group_type":{"data":{"type":"GroupType","id":"120399"}},"location":{"data":{"type":"Location","id":"385108"}}},"links":{"self":"https://api.planningcenteronline.com/groups/v2/groups/779944","html":"https://groups.planningcenteronline.com/groups/779944"}},{"type":"Group","id":"779945","attributes":{"archived_at":null,"contact_email":"smallgroups@samplechurch.com","created_at":"2019-06-11T18:31:44Z","description":"We''re
        a fun loving group that meets together, prays together, and supports           each
        other. All ages welcome. We try to start at 7:30pm and end at 9pm. If it''s
        a dinner           night, we all bring a dish and eat at 6:30pm.","enrollment_open":true,"[...]
