---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/name_suffixes?offset=0&per_page=25
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '9'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2022-01-28'
      etag:
      - W/"982ea234ccc03e143635d21a2e41481c"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes?&offset=0&per_page=25"},"data":[{"type":"NameSuffix","id":"296925","attributes":{"value":"Jr."},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/296925"}},{"type":"NameSuffix","id":"296927","attributes":{"value":"Sr."},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/296927"}},{"type":"NameSuffix","id":"296929","attributes":{"value":"Ph.D."},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/296929"}},{"type":"NameSuffix","id":"296931","attributes":{"value":"II"},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/296931"}},{"type":"NameSuffix","id":"296933","attributes":{"value":"III"},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/296933"}}],"included":[],"meta":{"total_count":5,"count":5,"can_order_by":["value"],"can_query_by":["value"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Fri, 08 Apr 2022 18:49:03 GMT
recorded_with: VCR 6.0.0
