---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/name_suffixes?offset=0&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6381c30e17532314db41bcf1499bb88a17551470abe22671b5fc839e0af53269
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '1'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.3
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"458b31925482132ac51511944b170370"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes?offset=0&per_page=25"},"data":[{"type":"NameSuffix","id":"296925","attributes":{"value":"Jr."},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/296925"}},{"type":"NameSuffix","id":"296927","attributes":{"value":"Sr."},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/296927"}},{"type":"NameSuffix","id":"296929","attributes":{"value":"Ph.D."},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/296929"}},{"type":"NameSuffix","id":"296931","attributes":{"value":"II"},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/296931"}},{"type":"NameSuffix","id":"296933","attributes":{"value":"III"},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/296933"}}],"included":[],"meta":{"total_count":5,"count":5,"can_order_by":["value"],"can_query_by":["value"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Thu, 27 May 2021 19:09:19 GMT
recorded_with: VCR 6.0.0
