---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/giving/v2/donations?offset=0&order=created_at&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c5877e58c0bd9e15b6e451229d6eb6a183a0f15ff7cda3f78ebec41c4a7d4e4f
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '6'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.2.1
      x-pco-api-processed-as-version:
      - '2019-10-18'
      etag:
      - W/"7b31cc2e15396134201b83de12219e1d"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/giving/v2/donations?offset=0&order=created_at&per_page=25","next":"https://api.planningcenteronline.com/giving/v2/donations?offset=25&order=created_at&per_page=25"},"data":[{"type":"Donation","id":"41899734","attributes":{"amount_cents":13025,"amount_currency":"USD","completed_at":"2019-12-04T21:20:41Z","created_at":"2019-11-26T20:22:04Z","fee_cents":-25,"fee_currency":"USD","payment_brand":"REGIONS
        BANK","payment_check_dated_at":null,"payment_check_number":null,"payment_last4":"5547","payment_method":"ach","payment_method_sub":null,"payment_status":"succeeded","received_at":"2019-11-26T20:22:04Z","refundable":false,"refunded":false,"updated_at":"2019-12-06T01:02:29Z"},"relationships":{"batch":{"data":null},"campus":{"data":null},"person":{"data":{"type":"Person","id":"69524669"}},"payment_source":{"data":{"type":"PaymentSource","id":"planning_center"}},"labels":{"data":[]},"recurring_donation":{"data":null}},"links":{"self":"https://api.planningcenteronline.com/giving/v2/donations/41899734"}},{"type":"Donation","id":"42867356","attributes":{"amount_cents":13025,"amount_currency":"USD","completed_at":"2019-12-14T00:52:26Z","created_at":"2019-12-08T18:51:32Z","fee_cents":-25,"fee_currency":"USD","payment_brand":"REGIONS
        BANK","payment_check_dated_at":null,"payment_check_number":null,"payment_last4":"5547","payment_method":"ach","payment_method_sub":null,"payment_status":"succeed[...]
