---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/giving/v2/donations/53134447/refund/designation_refunds?offset=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 26fcff069aa11d2f40ec48876948fce30e322e027a25706ec9e114ee874101c8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '6'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.2.1
      x-pco-api-processed-as-version:
      - '2019-10-18'
      etag:
      - W/"2622dc0aa85c9dfeb884c1df4b928fc8"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/giving/v2/donations/53134447/refund/27505/designation_refunds?offset=0&per_page=100"},"data":[{"type":"DesignationRefund","id":"28611","attributes":{"amount_cents":-2000,"amount_currency":"USD"},"relationships":{"designation":{"data":{"type":"Designation","id":"56629668"}}},"links":{"self":"https://api.planningcenteronline.com/giving/v2/donations/53134447/refund/27505/designation_refunds/28611"}}],"included":[],"meta":{"total_count":1,"count":1,"can_include":["designation"],"parent":{"id":"27505","type":"Refund"}}}'
  recorded_at: Fri, 14 May 2021 14:15:22 GMT
recorded_with: VCR 6.0.0
