---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/campuses/44710?offset=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c5877e58c0bd9e15b6e451229d6eb6a183a0f15ff7cda3f78ebec41c4a7d4e4f
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '3'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.2.1
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"820b9f7905a598b5f4efd1a403dbabaf"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Campus","id":"44710","attributes":{"avatar_url":null,"church_center_enabled":true,"city":"Austin","contact_email_address":"info@thewellaustin.com","country":"US","created_at":"2020-03-19T17:59:11Z","date_format":null,"description":"<div>Thank
        you for joining us today whether that''s in-person or virtually! <br><br>For
        sermon notes and scripture links, navigate to the \"Events\" button in the
        bottom menu.<strong><br></strong><br><br><br>\n</div>","geolocation_set_manually":false,"latitude":"30.3761111","longitude":"-97.7552778","name":"Westover
        Campus","phone_number":null,"state":"Texas","street":"Meeting at Westover
        Hills Church of Christ -- 8332 Mesa Dr.","time_zone":"America/Chicago","twenty_four_hour_time":null,"updated_at":"2021-03-26T16:00:23Z","website":"https://www.thewellaustin.com/","zip":"78759"},"relationships":{"organization":{"data":{"type":"Organization","id":"86977"}}},"links":{"lists":"https://api.planningcenteronline.com/people/v2/campuses/44710/lists","service_times":"https://api.planningcenteronline.com/people/v2/campuses/44710/service_times","self":"https://api.planningcenteronline.com/people/v2/campuses/44710"}},"included":[],"meta":{"can_include":["lists"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Thu, 13 May 2021 20:37:51 GMT
recorded_with: VCR 6.0.0
