---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/giving/v2/funds?offset=0&per_page=25
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '18'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2019-10-18'
      etag:
      - W/"a44fa6a1beeb5e1ce76264cc2e30c45c"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/giving/v2/funds?offset=0&per_page=25","next":"https://api.planningcenteronline.com/giving/v2/funds?offset=25&per_page=25"},"data":[{"type":"Fund","id":"118284","attributes":{"color":"#a1a1a1","created_at":"2019-11-21T18:12:38Z","default":true,"deletable":false,"description":"This
        discretionary money can be used where it''s needed most.","ledger_code":null,"name":"General","updated_at":"2020-02-11T17:05:31Z","visibility":"everywhere"},"links":{"self":"https://api.planningcenteronline.com/giving/v2/funds/118284"}},{"type":"Fund","id":"128191","attributes":{"color":"#b2cf74","created_at":"2020-01-22T23:12:12Z","default":false,"deletable":false,"description":"Connections
        Coordinator","ledger_code":null,"name":"Juli Quintero","updated_at":"2021-09-22T18:59:19Z","visibility":"nowhere"},"links":{"self":"https://api.planningcenteronline.com/giving/v2/funds/128191"}},{"type":"Fund","id":"211493","attributes":{"c[...]
