---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/inactive_reasons?offset=0&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6381c30e17532314db41bcf1499bb88a17551470abe22671b5fc839e0af53269
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '2'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.3
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"683722722f37275ee0049f46e8e622c9"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/inactive_reasons?offset=0&per_page=25"},"data":[{"type":"InactiveReason","id":"296935","attributes":{"value":"Moved"},"links":{"self":"https://api.planningcenteronline.com/people/v2/inactive_reasons/296935"}},{"type":"InactiveReason","id":"296937","attributes":{"value":"New
        Church"},"links":{"self":"https://api.planningcenteronline.com/people/v2/inactive_reasons/296937"}},{"type":"InactiveReason","id":"296939","attributes":{"value":"Deceased"},"links":{"self":"https://api.planningcenteronline.com/people/v2/inactive_reasons/296939"}}],"included":[],"meta":{"total_count":3,"count":3,"can_order_by":["value"],"can_query_by":["value"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Thu, 27 May 2021 19:04:20 GMT
recorded_with: VCR 6.0.0
