---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/inactive_reasons?offset=0&per_page=25
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '27'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2022-01-28'
      etag:
      - W/"efa5896e3103f4da6a1eec4f1e76cd5f"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/inactive_reasons?&offset=0&per_page=25"},"data":[{"type":"InactiveReason","id":"296935","attributes":{"value":"Moved"},"links":{"self":"https://api.planningcenteronline.com/people/v2/inactive_reasons/296935"}},{"type":"InactiveReason","id":"296937","attributes":{"value":"New
        Church"},"links":{"self":"https://api.planningcenteronline.com/people/v2/inactive_reasons/296937"}},{"type":"InactiveReason","id":"296939","attributes":{"value":"Deceased"},"links":{"self":"https://api.planningcenteronline.com/people/v2/inactive_reasons/296939"}}],"included":[],"meta":{"total_count":3,"count":3,"can_order_by":["value"],"can_query_by":["value"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Fri, 08 Apr 2022 18:48:57 GMT
recorded_with: VCR 6.0.0
