---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/giving/v2/recurring_donations/362440?offset=0&per_page=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '1'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2019-10-18'
      etag:
      - W/"0f8f6dca978a9b34f355121c205b32ac"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"RecurringDonation","id":"362440","attributes":{"amount_cents":5000,"amount_currency":"USD","created_at":"2020-02-04T00:02:32Z","last_donation_received_at":"2022-03-16T11:06:21Z","next_occurrence":"2022-04-16T05:00:00Z","release_hold_at":null,"schedule":{"day_in_month":{"day":16}},"status":"active","updated_at":"2022-03-16T11:06:27Z"},"relationships":{"person":{"data":{"type":"Person","id":"72569993"}}},"links":{"designations":"https://api.planningcenteronline.com/giving/v2/recurring_donations/362440/designations","payment_method":"https://api.planningcenteronline.com/giving/v2/people/72569993/payment_methods/1059141","self":"https://api.planningcenteronline.com/giving/v2/recurring_donations/362440"}},"included":[],"meta":{"can_include":["designations"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Fri, 08 Apr 2022 18:49:18 GMT
recorded_with: VCR 6.0.0
