---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/groups/v2/group_types/120399?offset=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c02980f27bfdb5ae0804adabe9d5d245f00a37beb29f90f8e31686335fb91e8e
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '4'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_6.3.4
      x-pco-api-processed-as-version:
      - '2018-08-01'
      etag:
      - W/"69e1833f4ca8d7a266f781bc6e3c49eb"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"GroupType","id":"120399","attributes":{"church_center_map_visible":true,"church_center_visible":true,"color":"#4fd2e3","default_group_settings":{"contact_email":"smallgroups@samplechurch.com"},"description":"Small
        groups are a key aspect of our church community.           Most meet weekly
        in the home of a group member (usually the leader''s home).           We try
        to keep them limited to about 12 people.           If you can''t find an open
        group, please let us know!","name":"Small Groups","position":1},"links":{"events":"https://api.planningcenteronline.com/groups/v2/group_types/120399/events","groups":"https://api.planningcenteronline.com/groups/v2/group_types/120399/groups","resources":"https://api.planningcenteronline.com/groups/v2/group_types/120399/resources","self":"https://api.planningcenteronline.com/groups/v2/group_types/120399"}},"included":[],"meta":{"parent":{"id":"291419","type":"Organization"}}}'
  recorded_at: Thu, 18 Apr 2024 20:49:48 GMT
recorded_with: VCR 6.0.0
