---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/people/2669139/phone_numbers/60503519?offset=0&per_page=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '20'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2022-01-28'
      etag:
      - W/"94ba5bfccdc7cd0266b37436fa354827"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"PhoneNumber","id":"60503519","attributes":{"carrier":null,"country_code":"US","created_at":"2020-09-30T19:45:44Z","e164":"+15208206614","international":"+1
        520-820-6614","location":"Mobile","national":"(520) 820-6614","number":"(520)
        820-6614","primary":true,"updated_at":"2020-09-30T19:45:44Z"},"relationships":{"person":{"data":{"type":"Person","id":"2669139"}}},"links":{"self":"https://api.planningcenteronline.com/people/v2/people/2669139/phone_numbers/60503519"}},"included":[],"meta":{"parent":{"id":"2669139","type":"Person"}}}'
  recorded_at: Fri, 08 Apr 2022 18:49:12 GMT
recorded_with: VCR 6.0.0
