---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/people/118193121?offset=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 14d66aa5428304ed3b08dbea9c8482698695a05f3c58ed197ed05e9f4d3046d2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '7'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_6.3.0
      x-pco-api-processed-as-version:
      - '2023-03-21'
      etag:
      - W/"e5daebf7fff44b20f484287fa9ef753f"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Person","id":"118193121","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://avatars.planningcenteronline.com/uploads/initials/MC.png","birthdate":null,"can_create_forms":false,"can_email_lists":false,"child":false,"created_at":"2022-11-30T23:31:16Z","demographic_avatar_url":"https://avatars.planningcenteronline.com/uploads/initials/MC.png","directory_status":"no_access","first_name":"Michael","gender":null,"given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Champagne","medical_notes":null,"membership":null,"middle_name":null,"name":"Michael
        Champagne","nickname":null,"passed_background_check":false,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2024-04-18T17:32:37Z"},"relationships":{"primary_campus":{"data":null},"gender":{"data":null}},"links":{"":"https://api.planningcenteronline.com/people/v2/people/118193121/","addresses":"https://api.planningcenteronline.com/people/v2/people/118193121/addresses","apps":"https://api.planningcenteronline.com/people/v2/people/118193121/apps","background_checks":"https://api.planningcenteronline.com/people/v2/people/118193121/background_checks","connected_people":"https://api.planningcenteronline.com/people/v2/people/118193121/connected_people","emails":"https://api.planningcenteronline.com/people/v2/people/118193121/emails","field_data":"https://api.planningcenteronline.com/people/v2/people/118193121/field_data","household_memberships":"https://api.planningcenteronline.com/people/v2/people/118193121/household_memberships","households":"https://api.planningcenteronline.com/people/v2/people/118193121/households","inactive_reason":null,"marital_status":null,"message_groups":"https://api.planningcenteronline.com/people/v2/people/118193121/message_groups","messages":"https://api.planningcenteronline.com/people/v2/people/118193121/messages","name_prefix":null,"name_suffix":null,"notes":"https://api.planningcenteronline.com/people/v2/people/118193121/notes","organization":"https://api.planningcenteronline.com/people/v2/people/118193121/organization","person_apps":"https://api.planningcenteronline.com/people/v2/people/118193121/person_apps","phone_numbers":"https://api.planningcenteronline.com/people/v2/people/118193121/phone_numbers","platform_notifications":"https://api.planningcenteronline.com/people/v2/people/118193121/platform_notifications","primary_campus":null,"school":null,"social_profiles":"https://api.planningcenteronline.com/people/v2/people/118193121/social_profiles","workflow_cards":"https://api.planningcenteronline.com/people/v2/people/118193121/workflow_cards","workflow_shares":"https://api.planningcenteronline.com/people/v2/people/118193121/workflow_shares","self":"https://api.planningcenteronline.com/people/v2/people/118193121","html":"https://people.planningcenteronline.com/people/AC118193121"}},"included":[],"meta":{"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","organization","person_apps","phone_numbers","platform_notifications","primary_campus","school","social_profiles"],"parent":{"id":"291419","type":"Organization"}}}'
  recorded_at: Thu, 18 Apr 2024 21:00:23 GMT
recorded_with: VCR 6.0.0
