---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/people/2669139?offset=0&per_page=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '17'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2022-01-28'
      etag:
      - W/"ad11f595adb6ee761f4d9027a959f34c"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Person","id":"2669139","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://avatars.planningcenteronline.com/uploads/initials/GC.png","birthdate":"1987-06-20","can_create_forms":false,"child":false,"created_at":"2012-10-26T04:55:00Z","demographic_avatar_url":"https://avatars.planningcenteronline.com/uploads/initials/GC.png","directory_status":"no_access","first_name":"Gretchen","gender":"F","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Chan","medical_notes":null,"membership":"Covenant
        Member","middle_name":null,"name":"Gretchen Chan","nickname":null,"passed_background_check":false,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2020-10-07T18:45:50Z"},"relationships":{"primary_campus":{"data":null}},"links":{"":"https://api.planningcenteronline.com/people/v2/people/2669139/","addresses":"https://api.planningcenteronline.com/people/v2/people/2669139/addresses","apps":"https://api.planningcenteronline.com/people/v2/people/2669139/apps","connected_people":"https://api.planningcenteronline.com/people/v2/people/2669139/connected_people","emails":"https://api.planningcenteronline.com/people/v2/people/2669139/emails","field_data":"https://api.planningcenteronline.com/people/v2/people/2669139/field_data","household_memberships":"https://api.planningcenteronline.com/people/v2/people/2669139/household_memberships","households":"https://api.planningcenteronline.com/people/v2/people/2669139/households","inactive_reason":null,"marital_status":"https://api.planningcenteronline.com/people/v2/marital_statuses/296943","message_groups":"https://api.planningcenteronline.com/people/v2/people/2669139/message_groups","messages":"https://api.planningcenteronline.com/people/v2/people/2669139/messages","name_prefix":null,"name_suffix":null,"notes":"https://api.planningcenteronline.com/people/v2/people/2669139/notes","organization":"https://api.planningcenteronline.com/people/v2/people/2669139/organization","person_apps":"https://api.planningcenteronline.com/people/v2/people/2669139/person_apps","phone_numbers":"https://api.planningcenteronline.com/people/v2/people/2669139/phone_numbers","platform_notifications":"https://api.planningcenteronline.com/people/v2/people/2669139/platform_notifications","primary_campus":null,"school":null,"social_profiles":"https://api.planningcenteronline.com/people/v2/people/2669139/social_profiles","workflow_cards":"https://api.planningcenteronline.com/people/v2/people/2669139/workflow_cards","workflow_shares":"https://api.planningcenteronline.com/people/v2/people/2669139/workflow_shares","self":"https://api.planningcenteronline.com/people/v2/people/2669139"}},"included":[],"meta":{"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","organization","person_apps","phone_numbers","platform_notifications","primary_campus","school","social_profiles"],"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Fri, 08 Apr 2022 18:49:11 GMT
recorded_with: VCR 6.0.0
