---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/people?include%5B%5D=households&include%5B%5D=marital_status&include%5B%5D=emails&include%5B%5D=phone_numbers&include%5B%5D=inactive_reason&include%5B%5D=addresses&include%5B%5D=name_suffix&offset=0&order=created_at&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 14d66aa5428304ed3b08dbea9c8482698695a05f3c58ed197ed05e9f4d3046d2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '6'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_6.3.0
      x-pco-api-processed-as-version:
      - '2023-03-21'
      etag:
      - W/"ded9cd3ae32d8c51d39ad79be93bac16"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?include[]=households&include[]=marital_status&include[]=emails&include[]=phone_numbers&include[]=inactive_reason&include[]=addresses&include[]=name_suffix&offset=0&order=created_at&per_page=25","next":"https://api.planningcenteronline.com/people/v2/people?include[]=households&include[]=marital_status&include[]=emails&include[]=phone_numbers&include[]=inactive_reason&include[]=addresses&include[]=name_suffix&offset=25&order=created_at&per_page=25"},"data":[{"type":"Person","id":"54634880","attributes":{"accounting_administrator":true,"anniversary":null,"avatar":"https://avatars.planningcenteronline.com/uploads/initials/EH.png","birthdate":null,"can_create_forms":true,"can_email_lists":true,"child":false,"created_at":"2019-06-11T18:31:41Z","demographic_avatar_url":"https://avatars.planningcenteronline.com/uploads/initials/EH.png","directory_status":"no_access","first_name":"Eric","gender":"Male","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Hayes","medical_notes":null,"membership":null,"middle_name":null,"name":"Eric
        Hayes","nickname":null,"passed_background_check":false,"people_permissions":"Manager","remote_id":null,"school_type":null,"site_administrator":true,"status":"active","updated_at":"2024-04-18T17:27:51Z"},"relationships":{"primary_campus":{"data":null},"gender":{"data":{"type":"Gender","id":"7006904"}},"households":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/54634880/households"},"data":[]},"marital_status":{"data":null},"emails":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/54634880/emails"},"data":[{"type":"Email","id":"35141784"}]},"phone_numbers":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/54634880/phone_numbers"},"data":[]},"inactive_reason":{"data":null},"addresses":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/54634880/addresses"},"data":[]},"name_suffix":{"data":null}},"links":{"self":"https://api.planningcenteronline.com/people/v2/people/54634880","html":"https://people.planningcenteronline.com/people/AC54634880"}},{"type":"Person","id":"54635457","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://avatars.planningcenteronline.com/uploads/initials/DK.png","birthdate":null,"can_create_forms":true,"can_email_lists":true,"child":false,"created_at":"2019-06-11T18:47:48Z","demographic_avatar_url":"https://avatars.planningcenteronline.com/uploads/initials/DK.png","directory_status":"no_access","first_name":"Deb","gender[...]
