---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/people?include=households%2Cmarital_status%2Cemails%2Cphone_numbers%2Cinactive_reason%2Caddresses%2Cname_suffix&offset=0&order=created_at&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 26fcff069aa11d2f40ec48876948fce30e322e027a25706ec9e114ee874101c8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '20'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.2.1
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"b78d54f0af84c8087ac65fc5bf5ebcdb"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?include=households%2Cmarital_status%2Cemails%2Cphone_numbers%2Cinactive_reason%2Caddresses%2Cname_suffix&offset=0&order=created_at&per_page=25","next":"https://api.planningcenteronline.com/people/v2/people?include=households%2Cmarital_status%2Cemails%2Cphone_numbers%2Cinactive_reason%2Caddresses%2Cname_suffix&offset=25&order=created_at&per_page=25"},"data":[{"type":"Person","id":"2409185","attributes":{"accounting_administrator":false,"anniversary":"2016-05-29","avatar":"https://avatars.planningcenteronline.com/uploads/person/2409185-1347067445/avatar.1.png","birthdate":"1987-06-23","can_create_forms":true,"child":false,"created_at":"2012-09-08T01:24:05Z","demographic_avatar_url":"https://avatars.planningcenteronline.com/uploads/person/2409185-1347067445/avatar.1.png","directory_status":"no_access","first_name":"Eric","gender":"M","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Leonard","medical_notes":null,"membership":"Covenant
        Member","middle_name":null,"name":"Eric Leonard","nickname":null,"passed_background_check":false,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":true,"status":"active","updated_at":"2021-03-24T03:24:01Z"},"relationships":{"primary_campus":{"data":null},"households":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/2409185/households"},"data":[{"type":"Household","id":"9079075"}]},"marital_status":{"links":{"related":"https://api.planningcenteronline.com/people/v2/marital_statuses/296943"},"data":{"type":"MaritalStatus","id":"296943"}},"emails":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/2409185/emails"},"data":[{"type":"Email","id":"2479635"}]},"phone_numbers":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/2409185/phone_numbers"},"data":[{"type":"PhoneNumber","id":"1732161"}]},"inactive_reason":{"data":null},"addresses":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/2409185/addresses"},"data":[{"type":"Address","id":"613945"}]},"name_suffix":{"data":null}},"links":{"self":"https://api.planningcenteronline.com/people/v2/people/2409185"}},{"type":"Person","id":"2446996","attributes":{"accounting_administrator":true,"anniversary":"2010-05-15","avatar":"https://avatars.planningcenteronline.com/uploads/initials/TM.png","birthdate":"1986-12-08","can_create_forms":true,"child":false,"created_at":"2012-09-11T23:44:13Z","demographic_avatar_url":"https://avatars.planningcenteronline.com/uploads/initials/TM.png","directory_status":"no_access",[...]
