---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/households?offset=0&order=created_at&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6381c30e17532314db41bcf1499bb88a17551470abe22671b5fc839e0af53269
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '1'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.3
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"03a8a55c2450f90f4ab0991b312f3e86"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/households?offset=0&order=created_at&per_page=25","next":"https://api.planningcenteronline.com/people/v2/households?offset=25&order=created_at&per_page=25"},"data":[{"type":"Household","id":"992","attributes":{"avatar":"https://dio0bc3q0omo2.cloudfront.net/992-square.png","created_at":"2014-02-19T00:56:01Z","member_count":2,"name":"Deardorff
        Household","primary_contact_id":"2482855","primary_contact_name":"Jana Deardorff","updated_at":"2020-09-01T23:43:12Z"},"relationships":{"primary_contact":{"data":{"type":"Person","id":"2482855"}},"people":{"data":[{"type":"Person","id":"2482855"},{"type":"Person","id":"82241871"}]}},"links":{"self":"https://api.planningcenteronline.com/people/v2/households/992"}},{"type":"Household","id":"238763","attributes":{"avatar":"https://dio0bc3q0omo2.cloudfront.net/763-square.png","created_at":"2014-11-24T03:33:40Z","member_count":4,"name":"Glemboski
        Household","primary_contact_id":"6744484","primary_contact_name":"Lisa Glemboski","updated_at":"2014-11-24T03:33:40Z"},"relationships":{"primary_cont[...]
