---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/webhooks/v2/subscriptions?offset=0&per_page=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 7d6aca43e2bf9b652fb0ad4a3898a5851b566405d1b5a0631c5958d9da64afa3
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '3'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_5.2.0
      x-pco-api-processed-as-version:
      - '2018-08-01'
      etag:
      - W/"a723d0b377d9a5d98fd062467601dc43"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/webhooks/v2/subscriptions?offset=0&per_page=100"},"data":[{"type":"Subscription","id":"81905","attributes":{"active":true,"application_id":null,"authenticity_secret":"b44938145482257088f827141ea4bb7893df46a236cd1431aae9329de154ef83","created_at":"2023-07-07T15:40:34Z","name":"people.v2.events.address.created","updated_at":"2023-07-07T16:49:29Z","url":"https://ehmstone.ngrok.io/hooks/companies/8/planning_center/events"},"links":{"self":"https://api.planningcenteronline.com/webhooks/v2/subscriptions/81905"}},{"type":"Subscription","id":"81906","attributes":{"active":true,"application_id":null,"authenticity_secret":"0f8f87cdefee39bf6a707561a6540c9ac144bf43f6920998590ae4343c5d674c","created_at":"2023-07-07T15:40:34Z","name":"people.v2.events.address.destroyed","updated_at":"2023-07-07T16:49:29Z","url":"https://ehmstone.ngrok.io/hooks/companies/8[...]
