---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/giving/v2/funds?offset=0&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c5877e58c0bd9e15b6e451229d6eb6a183a0f15ff7cda3f78ebec41c4a7d4e4f
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '10'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.2.1
      x-pco-api-processed-as-version:
      - '2019-10-18'
      etag:
      - W/"2fc8855c702306a747a0bb1bc62e6ab9"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/giving/v2/funds?offset=0&per_page=25","next":"https://api.planningcenteronline.com/giving/v2/funds?offset=25&per_page=25"},"data":[{"type":"Fund","id":"118284","attributes":{"color":"#a1a1a1","created_at":"2019-11-21T18:12:38Z","default":true,"deletable":false,"description":"This
        discretionary money can be used where it''s needed most.","ledger_code":null,"name":"General","updated_at":"2020-02-11T17:05:31Z","visibility":"everywhere"},"links":{"self":"https://api.planningcenteronline.com/giving/v2/funds/118284"}},{"type":"Fund","id":"169791","attributes":{"color":"#a1a1a1","created_at":"2020-11-24T17:51:20Z","default":false,"deletable":false,"description":null,"ledger_code":null,"name":"The
        Well Institute ","updated_at":"2020-11-24T17:51:20Z","visibility":"admin_only"},"links":{"self":"https://api.planningcenteronline.com/giving/v2/funds/169791"}},{"type":"Fund","id":"165992","attributes":{"color":"#d99f[...]
