---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/emails?offset=0&order=created_at&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6381c30e17532314db41bcf1499bb88a17551470abe22671b5fc839e0af53269
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '2'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.3
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"0e2c860ae86da58099e5c8e0f64a0c53"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/emails?offset=0&order=created_at&per_page=25","next":"https://api.planningcenteronline.com/people/v2/emails?offset=25&order=created_at&per_page=25"},"data":[{"type":"Email","id":"2479635","attributes":{"address":"erlt2000@gmail.com","blocked":false,"created_at":"2012-09-08T01:24:05Z","location":"Home","primary":true,"updated_at":"2012-09-08T01:24:05Z"},"relationships":{"person":{"data":{"type":"Person","id":"2409185"}}},"links":{"self":"https://api.planningcenteronline.com/people/v2/emails/2479635"}},{"type":"Email","id":"2515990","attributes":{"address":"tmayo@thewellaustin.com","blocked":false,"created_at":"2012-09-11T23:44:13Z","location":"Home","primary":true,"updated_at":"2012-09-11T23:44:13Z"},"relationships":{"person":{"data":{"type":"Person","id":"2446996"}}},"links":{"self":"https://api.planningcenteronline.com/people/v2/emails/2515990"}},{"type":"Email","id":[...]
