---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/giving/v2/funds/131737?offset=0&per_page=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 05d1086ca67c08f2e006c767f3893f6c57284b3a0acf299e4d1affc759778c37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '21'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_4.7.0
      x-pco-api-processed-as-version:
      - '2019-10-18'
      etag:
      - W/"9deeea311d134ab26be493e773af8edd"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Fund","id":"131737","attributes":{"color":"#cfab77","created_at":"2020-02-10T21:06:54Z","default":false,"deletable":false,"description":"Giving
        to the Acceleration Fund helps us accelerate toward our greatest need right
        now — a gathering space. All giving is directly used toward that end, whether
        we end up finding a building to buy or a more sustainable space to lease for
        the time being.","ledger_code":null,"name":"Acceleration Fund","updated_at":"2022-02-21T17:30:36Z","visibility":"hidden"},"links":{"self":"https://api.planningcenteronline.com/giving/v2/funds/131737"}},"included":[],"meta":{"parent":{"id":"86977","type":"Organization"}}}'
  recorded_at: Fri, 08 Apr 2022 18:48:51 GMT
recorded_with: VCR 6.0.0
