---
http_interactions:
- request:
    method: get
    uri: https://api.planningcenteronline.com/people/v2/addresses?offset=0&order=created_at&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6381c30e17532314db41bcf1499bb88a17551470abe22671b5fc839e0af53269
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      x-pco-api-auth-method:
      - OAuth2
      x-pco-api-request-rate-count:
      - '3'
      x-pco-api-request-rate-limit:
      - '100'
      x-pco-api-request-rate-period:
      - '20'
      x-pco-api-processor:
      - ENG_3.9.3
      x-pco-api-processed-as-version:
      - '2020-07-22'
      etag:
      - W/"f6401e8d8440410975291d590cb6f586"
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/addresses?offset=0&order=created_at&per_page=25","next":"https://api.planningcenteronline.com/people/v2/addresses?offset=25&order=created_at&per_page=25"},"data":[{"type":"Address","id":"604555","attributes":{"city":"Austin","created_at":"2012-09-17T23:28:48Z","location":"Home","primary":true,"state":"TX","street":"1601
        Broadmoor","updated_at":"2012-09-24T23:14:40Z","zip":"78723"},"relationships":{"person":{"data":{"type":"Person","id":"2482515"}}},"links":{"self":"https://api.planningcenteronline.com/people/v2/addresses/604555"}},{"type":"Address","id":"613943","attributes":{"city":"Austin","created_at":"2012-09-27T21:59:09Z","location":"Home","primary":true,"state":"TX","street":"6911
        Dubuque Ln.","updated_at":"2018-09-18T02:02:12Z","zip":"78723"},"relationships":{"person":{"data":{"type":"Person","id":"2446996"}}},"links":{"self":"https://api.planningcenteronline.com/people/v2/addresses[...]
